* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    /* box-sizing: border-box; */
}
.Home {
    position: relative;
    height: 100vb;
    width: 100%;
    overflow: hidden;
}
.Home .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vb;
}
.Home .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vb;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 144, 0, 0.9);
}
.Home .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: grid;
    gap: 20px;
}
.Home .center {
    z-index: 2;
    display: grid;
    justify-items: center;
}
.Home .center img {
    height: 230px;
    width: 230px;
    border: solid 1px transparent;
    border-radius: 50%;
}
.Home h1 {
    z-index: 3;
    color: white;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
    transform: rotate(-5deg);
}
.Home .text {
    z-index: 4;
    font-size: 20px;
    color: white;
    text-align: center;
}
.Home .icons {
    /* position: absolute; */
    z-index: 5;
    /* top: 80%;
    left: 37%; */
    color: white;
    font-size: 20px;
}
.Home .icons i {
    padding: 10px;
    margin: 20px;
    font-size: 40px;
}
.about {
    margin: 0 100px;
    padding: 0;
    display: grid;
    gap: 40px;
    color: rgb(77, 77, 77);
    height: 100vb;
    align-content: center;
}
.about .top {
    margin-bottom: 30px;
    text-align: center;
    height: auto;
    font-size: 20px;
    color: black;
}
.about .down {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 15px;
}

.about .info {
    display: flex;
    gap: 20px;
    font-weight: 600;
}
.about .firstBlock {
    width: 50%;
}
.about .firstBlock,
.about .secondBlock {
    display: grid;
    gap: 20px;
}
.about .left {
    padding: 30px;
    width: 35%;
    height: auto;
}
.about .left .first-block {
    color: black;
    text-transform: uppercase;
}
.about .right {
    display: grid;
    gap: 15px;
    width: 65%;
    height: auto;
}
.about .right p {
    max-width: 800px;
}
.about .right h2 {
    color: black;
}
.about ul {
    list-style: none;
}
.about .item {
    display: flex;
    font-size: 50px;
    gap: 20px;
}
.about .item i {
    font-size: 30px;
    color: black;
}
.project {
    padding: 50px;
    display: grid;
    color: #fff;
    background-color: orange;
    font-size: 20px;
    overflow: hidden;
}
.project .topp {
    padding: 0px 0px 55px 0;
    text-align: center;
    width: 100%;
}
.project .work {
    padding: 20px;
    gap: 20px;
}
.project .firstBlock,
.project .secondBlock {
    display: grid;
    gap: 20px;
}

.Education,
.Experience {
    position: relative;
}

.verticalLine,
.ExperienceverticalLine {
    width: 2px;
    min-height: 150vb;
    background-color: #eee;
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    border-left: 2px #eee;
}

.EducationTextbox,
.ExperienceTextbox {
    background-color: #eee;
    padding: 10px 30px;
    width: fit-content;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

.educationIcon,
.ExperienceIcon {
    position: absolute;
    top: 35%;
    right: -10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff9000;
    z-index: 100;
}

.component {
    display: grid;
    position: relative;
    height: 200px;
    width: 45%;
    justify-items: end;
    padding-right: 20px;
}
.skillsContainer {
    margin-top: 60px;
    display: grid;
    justify-items: center;
    gap: 50px;
}
.skillsContainer h1 {
    width: fit-content;
}
.skills {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.progressCircle {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}
.innerCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#ff9000 3.6deg, #eee 0deg);
    transition: all 0.5s;
}

.innerCircle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: #fff;
}
.percentage,
.skillTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 100;
}
.percentage {
    top: 40%;
}
.skillTitle {
    top: 60%;
}
