* {
    padding: 0;
    margin: 0;
    font-family: "Space Mono", monospace;
}
.about {
    margin: 0 100px;
    padding: 0;
    display: grid;
    gap: 40px;
    color: rgb(77, 77, 77);
    height: 100vb;
    align-content: center;
}
.about .top {
    margin-bottom: 30px;
    text-align: center;
    height: auto;
    font-size: 20px;
    color: black;
}
.about .down {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 15px;
}

.about .info {
    display: flex;
    gap: 20px;
    font-weight: 600;
}
.about .firstBlock {
    width: 50%;
}
.about .firstBlock,
.about .secondBlock {
    display: grid;
    gap: 20px;
}
.about .left {
    padding: 30px;
    width: 35%;
    height: auto;
}
.about .left .first-block {
    color: black;
    text-transform: uppercase;
}
.about .right {
    display: grid;
    gap: 15px;
    width: 65%;
    height: auto;
}
.about .right p{
    max-width: 800px;
}
.about .right h2 {
    color: black;
}
.about ul {
    list-style: none;
}
.about .item {
    display: flex;
    font-size: 50px;
    gap: 20px;
}
.about .item i {
    font-size: 30px;
    color: black;
}
.project {
    padding: 50px;
    display: grid;
    color: #fff;
    background-color: orange;
    font-size: 20px;
    overflow: hidden;
}
.project .topp {
    padding: 0px 0px 55px 0;
    text-align: center;
    width: 100%;
    /* height: auto; */
}
.project .work {
    padding: 20px;
    gap: 20px;
}
.project .firstBlock,
.project .secondBlock {
    display: grid;
    gap: 20px;
}
